* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://t3.ftcdn.net/jpg/01/16/88/82/360_F_116888225_9Wh82kihECBsbau4uCHwdrzO09hXa3zZ.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

/* Main Container */
.main-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*Login Box */
.login-box {
    background-color: #8db6df;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.login-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

/* Box Headings */
h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
}

/* Buttons */
.login-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* Student Box */
.student-box .login-button {
    background-color: #075a84;
}

.student-box .login-button:hover {
    background-color: #0336ee;
    transform: scale(1.05);
}

/* Teacher Box */
.teacher-box .login-button {
    background-color: #075a84;
}

.teacher-box .login-button:hover {
    background-color: #0336ee;
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        gap: 20px;
    }
}
