*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
   position:relative;  
   min-height:10px;
   background: rgb(0, 0, 0);
}

.videobackground{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    /* -o-object-fit: cover; */
    object-fit: cover;
    z-index: -1;
}

.header{
    display:flex;
}
.headerElement{
    color:#ffffff;
    font-weight: bold;
}


nav{
    margin-top: 20px;
    position:relative;
    margin-left: 520px;
    display:flex;
    justify-content: center;
    width:480px;
    height:60px;
    background:#000000;
    border-radius:8px;
    
    
    justify-content:center;
    align-items:center;
}
nav a{
    position:relative;
    display:inline-block;
    font-size:1em;
    font-weight:500;
    color:#fff;
    text-decoration:none;
    padding:0 23px;
    z-index:1;

}
nav span{
    position:absolute;
    top:0;
    left:0;
    width:100px;
    height:100%;
    background:linear-gradient(25deg,#006eff,#2c8efe);
    border-radius:8px;
    transition:0.5s;
}
nav a:nth-child(1):hover~span{
    left:0;
    width:100px;
}
 nav a:nth-child(2):hover~span{
    left:100px;
    width:100px;
}
nav a:nth-child(3):hover~span{
    left:180px;
    width:100px
}
nav a:nth-child(4):hover~span{
    left:265px;
    width:105px; 
}
nav a:nth-child(5):hover~span{
    left:370px;/*span left se kitna dur hai*/
    width:110px;/*span ki width*/
    /* left:189px; */
    
}



.loginButton {
    background-color: #2c8efe;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    width:150px;
    height:60px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top:20px;
    margin-left:300px;
}

.loginButton:hover {
    background-color: #000000;
    box-shadow: 3px 3px 13px rgb(255, 255, 255);
    /* transform: translateY(0px); */
}


 .transparentElementContainer {  
    position: relative;  
    padding: 20px;  
     border-radius: 8px;
    background: rgba(255, 255, 255, 0.25); 
    backdrop-filter: transparent; 
    border: 1px solid rgba(255, 255, 255, 0.5); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;  
    margin-top: 590px;
    margin-left:150px;
    width:1200px;
    height: 90px;
}  
.transparentElement{
    color: #fff ;
    
}

/* Clubs */
#MainHeadingOfClubsOfPst{
    text-align: center;
    font-size: 40px;
    color: #2c8efe;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 50px;
}

#MainParagraphOfClubsOfPst{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 10px;
}
.club{
    display:inline-block;
}

.clubImageContainer{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 250px;
    width: 350px;
    background-color: #000000;
    border-color: #fff;
    border:1px;
    border-style: solid;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 88px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: inline-flex;
    position:relative;
    transition:0.3s ease-in-out;
    
    
    
}

.clubImage{
   
    height: 50%px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;

}

.ClubName{
    
    font-size: 20px;
    color: #fdfeff;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 20px;
    text-align: center;
    font-style:bold ;
    transition: 0.3s ease-in-out;

}

.ClubName:hover{
    
    color: #2c8efe;
}





/* SDS */
#StudentDatabaseSystemHeading{
    text-align: center;
    font-size: 30px;
    color: #2c8efe;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 60px;
}


#AboutStudentDatabaseSystem{
    margin-left: 80px;
    margin-top: 30px;
   
}
.Maindivider{
    height: 2px;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
}
.SDS{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    margin-top: 40px;

}
.p{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-weight: 200; */
    margin-right: 100px;
    font-size: 20px;
    margin-top: 5px;
}


/* MentorDiv */
.Mentor{
    display: flex;
    margin-top: 300px;
}

.MentorText{
    
    font-size: 30px;
    
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 100px;
    
}


#MentorHeading{
    font-size: 60px;
    color: #2c8efe;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    /* margin-top: 350px; */
    margin-left: 250px;
    font-style:bold ;
    
}
#MentorDescription{
    font-size: 20px;
    color: #ffffff;
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 200px;
    font-style: italic;
    
}

.MentorImage{
    position: relative;
    margin-top: -100px;
    margin-right: 200px;
    height: 600px;
    width: 800px;
    border-radius: 8px;
    transition:0.3s ease-in-out;
    
    border-style: solid;
    border-color: #fff;
   
}
#Mentor_Image{
   height: 100%;
   width: 100%;
   border-radius: 8px;
   
}

#MentorNameDiv{
    width: 100%;
    height:60px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top:5px;
    
    
    margin-top: -80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    backdrop-filter: blur(25px);
}





/* Team Members div */
#TeamHeading{
    text-align: center;
    font-size: 70px;
    color: #2c8efe;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 150px;
}

.TeamMembers{
    display: Grid;
    grid-template-columns: repeat(3,1fr);
    
   
    
}

.Member{
   
    border-radius: 8px; 
    margin-left: 50px;
    height:400px;
    width:400px;
    margin-top: 100px;
    margin-top: 50px;
    border-radius: 8px;
    border: #ffffff 2px solid;
    transition:0.3s ease-in-out;
    
   
    
}

.memberImage{
    height:100%;
    width:100%;
    border-radius: 8px;
    transition:0.3s ease-in-out;
}

.Member:hover{
    box-shadow: 3px 3px 13px rgb(255, 255, 255);
    transform: scale(1.02);
}

/* #TeamMemeber2 {  
    display: grid;  
    grid-template-columns: repeat(2,1fr);
   
}   */

#DebashishDiv{
    margin-left: 300px;
    margin-top: 100px;
    
}
#ManishDiv{
    margin-left: 850px;
    margin-top: -400px;
}


#mainDivider{
    height: 2px;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    margin-top: 100px;
}

#BuildBy{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top:100px;
}

#Classplus{
    color:#ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 70px;
    margin-top:110px;
    transition:0.3s ease-in-out;
}
   
#Classplus:hover{
    color:#006eff;
    
    
}
/* About us */
#Aboutus{
    text-align: center;
    font-size: 30px;
    color: #2c8efe;
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-top: 100px;
}
.divider1{
    height: 1px;
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    margin-top: 40px;
}
#footer{
    display: flex;
    margin-bottom: 90px;
    
}

.Left{
   color:white;
   margin-left: 180px;
   font-size: 20px;
   margin-top: 40px;
   
   
}
.Middle{
    color:white;
    margin-left: 340px;
    
    margin-top: 40px;
}
.contactus{
    font-size: 20px;
}
.contactpath{
    margin-top: 20px;
    font-size: 15px;
    
}

.Right{
    color:white;
    margin-left: 300px;
    
    margin-top: 40px;
}
.campus{
    font-size: 20px;
}
.location{
  
    font-size: 15px;
    margin-top:10px;
    
}

#AllRights{
   margin-top: 20px;
}