* {  
    box-sizing: border-box; 
}  

body  {
    margin: 0;  
    padding: 0;  
    width: 100%;  
    height: 100%;  
    overflow: hidden; 
}  

.screen {  
    position: relative;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    width: 100%;  
    height: 100vh;   
}  

.background-image {  
    position: absolute;   
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    object-fit: cover;   
    z-index: -1;        
}  

.container {  
    display: flex;  
    flex-direction: column;  
    width: 100%;  
    max-width: 600px;               
    padding: 60px;                   
    border-radius: 10px;            
    backdrop-filter: blur(50px);
    border: 1p solid transparent;     
    background-clip: padding-box, border-box; 
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5); 
    
    /* border: 1px solid white; */
      
}  




h1 {  
    color: #ffffff;                   
    text-align: center;          
    margin-bottom: 30px;             
    font-size: 50;   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;         
}  

input {  
    display: block;  
    margin: 15px 0;                 
    padding: 15px;                 
    width: 100%;                    
    box-sizing: border-box;            
    border: 1px solid #ffffff     ;
    border-radius: 0x;              
    font-size: 16px;   
    color: #ffffff;
           background:transparent;
    /* background-color: rgba(241, 241, 241, 0.9);    */
    transition: border-color 0.3s, box-shadow 0.3s,transform 0.3s;  
}  
input:hover{
    box-shadow: 0 4px 10px rgb(0, 106, 255);
    transform:scale(1.05);
}


button {  
    padding: 15px 30px;              
    background:transparent;
    color: #ffffff    ;         
    border: 1px solid #ffffff;                  
    border-radius:10px;        
    cursor: pointer;                
    font-size: 24px;
    width: 260px;
    margin-top: 15px;  
    margin-left: 110px;
    transition: border-color 0.3s, box-shadow 0.3s,transform 0.3s;  
}  

button:hover {  
    background-color: #ffffff  ;
    transform: scale(1.05);         
    box-shadow: 0 4px 20px rgba(0, 106, 255, 0.3);
    color: black;
}
/* Add to your existing style.css */
.go-back {
    padding: 15px 30px;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    width: 260px;
    margin-top: 15px;
    margin-left: 110px;
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
    position: absolute;
    top: 20px;
    left: 20px;
}

.go-back:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 106, 255, 0.3);
    color: black;
}