

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contaier{
    display: flex;
    
    /* flex-direction: column; */
}

/* .maindiv{
    margin-left: -200px;



} */

#heading{
    text-align: center;
    margin-bottom: 20px;
    color: #6200ea;
    font-size: 38px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
form {
    background: #181818;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 25px 35px;
    max-width: 450px;
    width: 100%;
    text-align: center;
}



input {
    display: block;
    width: calc(100% - 30px);
    margin: 12px auto;
    padding: 12px;
    font-size: 17px;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #202020;
    color: #f5f5f5;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #72a6ff;
    box-shadow: 0 0 4px rgba(114, 166, 255, 0.25);
    outline: none;
}

button {
    display: block;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition:  0.3s ease;
    margin-top: 18px;
}

button:hover {
    background-color: #1d4fcb;
}

button:disabled {
    background-color: #333;
    cursor: not-allowed;
}

#cancel-btn{
   height: 40px;
   width: 100px;
   background-color: #ffffff;
   border: none;
   border-radius: 8px;
   padding: 10px;
   font-size: 16px;
   font-weight: bold;
   color: #000000;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   margin-left:160px;
}

#cancel-btn:hover{
    background-color: #1d4fcb;
    box-shadow: 0 4px 15px rgb(255, 255, 255);
    transform: scale(1.05);
}
